* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.4;
  font-size: 2rem;
}
header,
section {
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  font-size: 2.4rem;
  text-decoration: none;
}
fieldset {
  border: 0;
}

.scrollButton,
.submitButton {
  color: $lightBackground;
  border: 2px solid $accentAccent;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 auto;
  background: linear-gradient(
    to right,
    $accentAccent 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-in;
  text-transform: uppercase;

  &:hover {
    background-position: left bottom;
  }
}
