header {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $darkBackground;
    color: white;

    .headerWrapper {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        margin: 20px 0; 
    };


    .heading {
        position: relative;
        width: 100%;
        h1 {
            margin: 0 0 20px 0;
            text-align: left;
            color: $accentAccent;
            font-size: 8rem;
            line-height: 1.2; 
        }



    img {
        position: absolute;
        left: 190px;
        top: 0px;
        width: 100px;
    }

    }
}