fieldset {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    display: none;
  }

  
}

.mealCategory {
  background-color: $lightBackground;
  position: relative;
  .mealImg {
    position: absolute;
    left: -50%;
    top: 10%;
    width: 300px;
    z-index: 1;
  }

  .scrollButton {
    background-color: $textOnDark;
  }

  .categoryMealWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    z-index: 2;

    .mealCategoryOption {
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
      background-color: $textOnDark;
      color: white;

      &:hover {
        background-color: $mainAccent;
      }
    }

    .mealCategoryOption:nth-child(1) {
      border-top-left-radius: 15px;
    }

    .mealCategoryOption:nth-child(3) {
      border-top-right-radius: 15px;
    }

    .mealCategoryOption:nth-child(10) {
      border-bottom-left-radius: 15px;
    }

    .mealCategoryOption:nth-child(12) {
      border-bottom-right-radius: 15px;
    }
  }
}

.drinkCategory {
  background-color: $darkBackground;
  color: white;
  position: relative;

  .drinkImg {
    position: absolute;
    left: -50%;
    top: 10%;
    width: 300px;
    z-index: 1;
  }

  .categoryDrinkWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 2;

    .drinkCategoryOption {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
      background-color: $lightBackground;
      color: $darkBackground;

      &:hover {
        background-color: $mainAccent;
      }
    }

    .drinkCategoryOption:nth-child(1) {
      border-top-left-radius: 15px;
    }

    .drinkCategoryOption:nth-child(3) {
      border-top-right-radius: 15px;
    }

    .drinkCategoryOption:nth-child(7) {
      border-bottom-left-radius: 15px;
    }

    .drinkCategoryOption:nth-child(9) {
      border-bottom-right-radius: 15px;
    }
  }
}
