
fieldset {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    display: none;
  }

  .categoryMealWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .mealCategoryOption {
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
      background-color: $textOnDark;
      color: white;

      &:hover {
        background-color: $mainAccent;
        transform: scale(1.2);
      }
    }

    .mealCategoryOption:nth-child(1) {
      border-top-left-radius: 15px;
    }

    .mealCategoryOption:nth-child(4) {
      border-top-right-radius: 15px;         
    }

    .mealCategoryOption:nth-child(9) {
      border-bottom-left-radius: 15px;          
    }

    .mealCategoryOption:nth-child(12) {
      border-bottom-right-radius: 15px;          
    }
  
    .mealCategoryOption:nth-child(13) {
      grid-column-start: 2;
    }
    .mealCategoryOption:nth-child(14) {
      grid-column-start: 3;
    }     
  }
}


.resultsSection {
  display: flex;
  position: relative;

  .mealInfo,
  .drinkInfo {
    width: 50%;
  }
}

.mealCategory {
  background-color: $lightBackground;
  position: relative;

  .scrollButton {
    background-color: $textOnDark;
  }

}



.drinkCategory {
  background-color: $darkBackground;
  color: white;
  position: relative;

  .categoryDrinkWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .drinkCategoryOption {
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        background-color: $lightBackground;
        color: $darkBackground;
        

        &:hover {
          background-color: $mainAccent;
          transform: scale(1.2);
        }
    }

    .drinkCategoryOption:nth-child(1) {
      border-top-left-radius: 15px;
    }

    .drinkCategoryOption:nth-child(3) {
      border-top-right-radius: 15px;         
    }

    .drinkCategoryOption:nth-child(7) {
      border-bottom-left-radius: 15px;          
    }

    .drinkCategoryOption:nth-child(9) {
      border-bottom-right-radius: 15px;          
    }
  }
}


