fieldset {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    display: none;
  }

  .categoryMealWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .mealCategoryOption {
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
      background-color: $textOnDark;
      color: white;

      &:hover {
        background-color: $mainAccent;
      }
    }

    .mealCategoryOption:nth-child(1) {
      border-top-left-radius: 15px;
    }

    .mealCategoryOption:nth-child(4) {
      border-top-right-radius: 15px;         
    }

    .mealCategoryOption:nth-child(9) {
      border-bottom-left-radius: 15px;          
    }

    .mealCategoryOption:nth-child(12) {
      border-bottom-right-radius: 15px;          
    }
  
    .mealCategoryOption:nth-child(13) {
      grid-column-start: 2;
    }
    .mealCategoryOption:nth-child(14) {
      grid-column-start: 3;
    }     
  }
}

.mealCategory {
  background-color: $lightBackground;
  position: relative;

  .scrollButton {
    background-color: $textOnDark;
  }

}

.drinkCategory {
  background-color: $darkBackground;
  color: white;
  position: relative;

  .categoryDrinkWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .drinkCategoryOption {
      display: flex;
      justify-content: center;
      align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        background-color: $lightBackground;
        color: $darkBackground;
        

        &:hover {
          background-color: $mainAccent;
        }
    }

    .drinkCategoryOption:nth-child(1) {
      border-top-left-radius: 15px;
    }

    .drinkCategoryOption:nth-child(3) {
      border-top-right-radius: 15px;         
    }

    .drinkCategoryOption:nth-child(7) {
      border-bottom-left-radius: 15px;          
    }

    .drinkCategoryOption:nth-child(9) {
      border-bottom-right-radius: 15px;          
    }
  }
}

.resultsSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .instructions {
    display: none;
  }
  .showInstructions {
    cursor: pointer;
    border: none;
    margin: 10px 0;
  }
  .mealRecipe,
  .drinkRecipe {
    width: 48%;
    border-radius: 20px;
    padding: 10px 20px;

    img {
      width: 30%;
      float: right;
      margin: 10px 0 0 5px;
    };
  }
  .drinkRecipe {
    color: $lightBackground;
    align-self: flex-start;
  }
}

.resultsWrapper {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}


