.resultsSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .resultsWrapper {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .instructionsMeal,
  .instructionsDrink {
    display: none;
  }
  .showInstructionsMeal,
  .showInstructionsDrink {
    cursor: pointer;
    border: none;
    margin: 10px 0;
  }
  .showInstructionsDrink {
    background-color: $main;
    color: $lightBackground;
  }
  .mealRecipe,
  .drinkRecipe {
    width: 48%;
    border-radius: 20px;
    padding: 10px 20px;

    img {
      width: 30%;
      float: right;
      margin: 10px 0 0 5px;
    }
  }
  .drinkRecipe {
    color: $lightBackground;
    align-self: flex-start;
  }
}

.mealRecipe {
  background-color: $lightBackground;
  width: 50%;
}
.drinkRecipe {
  background-color: $main;
  width: 50%;
}
